.Login{
    border:solid 2px orangered;
    padding: 30px;
    flex: 0.5; /*percetnage of the screen*/
    height: 80vh;  
    width: 70vh;
    overflow-y: overlay;
    margin-left: 500px;
    margin-top: 200px;
    display: grid;
    place-items: center;
}
